.recommended-btns{
    display: flex;
    margin-left: 20rem;

}
.recommended-title{
    margin-left:20rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
.btns{
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent; 
  border: 0.6 solid #fdfcfc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}