.sidebar-title{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;

}
.sidebar-items{
    margin-top: 20px;   
}

.sidebar-label-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer; 
}

.sidebar-label-container input{
   position: absolute; 
    opacity: 0;
    cursor: pointer;
}


/*
.sidebar-label-container:hover input ~.checkmark{
    background-color: #ccc;
}
.sidebar-label-container input:checked ~.checkmark{
    background-color: #2196f3;
} */